/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cormorant-garamond-regular */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../assets/fonts/cormorantgaramond-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/cormorantgaramond-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* cormorant-garamond-italic */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../assets/fonts/cormorantgaramond-italic-webfont.woff2') format('woff2'),
    url('../assets/fonts/cormorantgaramond-italic-webfont.woff') format('woff');
  font-style: italic;

}

/* cormorant-garamond-bold */
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../assets/fonts/cormorantgaramond-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/cormorantgaramond-bold-webfont.woff') format('woff');
  font-weight: bold;
}