/* 

ECR - Omeka Foundation Child Theme

@bulbil
@betovargas

digital scholarship @ swarthmore college

*/

@charset 'utf-8';

@import 'globals-default';
@import 'fonts';

/* * * Defaults * * */

$foundation-palette: (
  primary: #4d6a6d,
  secondary: #e8decb,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$global-font-size: 20px;
$global-width: 1200px;

@import 'settings';

/* * * Settings * * */

$topbar-background: $secondary-color;
//$body-font-family: "Cormorant Garamond", "Times New Roman", Times, serif;
$body-font-family: "IBM Plex Serif","Times New Roman",Times,serif;
$header-font-family: "Roboto", sans-serif;
@import 'foundation-core';
@import 'omeka';

/* * * Styles * * *

1. Typography and Layout
2. Header and Navigation
3. Footer
4. Item Views
5. Page Styles
  - Home
  - Timeline

*/



/* 1. Typography and Layout */
header,
footer,
.breadcrumbs,
.button,
.property dt,
.property dl,
.property.tags,
.quotation,
.caption p,
.browse-controls,
#advanced-search,
.search-filters,
.site-page-pagination,
.item-pagination {
  font-family: $header-font-family;
}
body {
  min-height: 100vh;
}
body #content {
  p,
  .callout,
  .property,
  li {
    max-width: 680px;
  }

  // p,
  // h2,
  // h1,
  // h3,
  // h4,
  // h5,
  // h6,
  // ul,
  // .callout,
  // blockquote,
  // .item-with-metadata {
  //   @include xy-cell-offset(1);

  //   @include breakpoint(medium down) {
  //     margin-left: 0;
  //   }
  // }

  p.full-width {   
    width: auto;
    max-width: unset;
    @include xy-cell-offset(0);
  }
}

.breadcrumbs li {
  font-size: .8rem;
  text-transform: unset;
}

/* 2. Header and Navigation */
header {
  background-color: $secondary-color;
  box-shadow: $input-shadow-focus;
}

.top-bar {
  max-width: $global-width;
  margin: 0 auto;
  padding-bottom: 0;
  font-weight: 500;
  color: $primary-color;

  li a {
    background-color: transparent;
  }
  li a:hover,
  li a:active {
    background-color: $primary-color;
    color: $white;
    transition: .3s;
  }

  .search-toggle {
    margin-bottom: 0;
    border-radius: $global-radius;
    .fa-search { 
      padding: 0 .5rem;
      font-size: 1.25rem;
      line-height: .5rem;
    }
  }

  @include breakpoint(medium up) {
    display: block;

    #primary-nav {
      justify-content: space-between;
    }

    .top-bar-left {
      width: 50%;
      max-width: 25rem;
    }
  }
}

.site-title {
  background: no-repeat left url('../assets/images/early-civil-rights-logo.svg');
  width: 100%;
  height: 6rem;
}

a.site-title,
a.site-title:hover {
  color: transparent;
}

#search-container {
  box-shadow: $input-shadow-focus;
  background-color: $secondary-color;
  margin-bottom: 0;

  #search-form {
    padding: 0 3rem;
    max-width: map-get($breakpoints, xlarge);
    margin: 0 auto;
  }
}

/* 3. Footer */
footer {

  background-color: $secondary-color;
  p {
    text-align: right;
  }

  #footer-text {
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    padding-top: .5em;
    padding-bottom: .5em;

    &>a { padding-bottom: .25rem; }
    a:nth-of-type(2) { margin-left: 1em; }
  }

  span {
    flex: 1;
    text-align: right;
    
    img {
      height: 7em;
    }
  }
}

/* 4. Item Views */

.resource.show .media-embed, 
.resource.show .media-list {
  order: -1;
  padding-bottom: 2rem;

  .item-file {
    max-width: 500px;
  }

  @include breakpoint(medium up) {
    padding-right: 2rem;
  }
}

#oral-history-item-type-metadata-transcription {
  height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid $secondary-color;
  border-radius: $global-radius;
  box-shadow: $input-shadow;
  padding: .5rem;

  p {
    transition: border-bottom 1s;
    border-bottom: 3px solid transparent;
  }

  p.active {
    border-bottom: 3px solid $primary-color;
  }
}

.resource.show .wrap.applicationpdf {

  display: block;
  .item-file.application-pdf a.download-file {
    display: none;
  }

  .item-file.image-jpeg {
    display: none;
  }
}

#docsviewer h2 {
  display: none;
}

/* 5. Page Styles */

/* Home */
body#home {

  min-height: 100vh;
  background:
    linear-gradient(rgba(255, 255, 255, 0.7), 
    rgba(255, 265, 255, 0.7)), 
    no-repeat top/cover fixed url(../assets/images/freedom-summer.jpg);
}
#home {
  #content p {
    margin-left: auto;
    margin-right: auto;
  }

  // footer {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  //   padding: 0.5%;
  //   height: 10%;
  // }
}

#home .jcarousel-wrapper {
  position: relative;
  bottom: 2;
  width: 100%;
  background-color: rgba(232,222,203, 0.6);
  // margin-top: 80px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  padding-top: 70px;
  padding-right: 70px;
  padding-left: 70px;
  padding-bottom: 20px;
  //li {
    //width: 356px !important;
}
#home .jcarousel-wrapper p a {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #home .jcarousel-wrapper {
    height: 50%;
    margin-left: 0;
    padding: 1em;
  }
}

/* Timeline */

#timeline #primary h1:first-of-type {
  display: none;
}

